---
import { Image } from "@astrojs/image/components";
import contactInfo from "../data/contact.json";
---

<footer class="relative grid place-items-center text-center gap-12 px-8 py-12">
  <Image src="/images/logomark.png" alt="logomark" width="120" height="120" />
  <Image
    src="/images/dots.png"
    alt="logomark"
    width="2000"
    height="500"
    class="absolute inset-0 object-cover -z-10 h-full"
  />

  <div>
    <a
      class="underline"
      href={contactInfo.location.href}
      set:html={contactInfo.location.text}
    />
    <a class="underline block" href={contactInfo.phone.href}
      >{contactInfo.phone.text}</a
    >
  </div>
  <p>©<span id="copyright"></span> Retrograde Coffee • All Rights Reserved</p>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date().getFullYear();
</script>
