---
import Heading from "./Heading.astro";

import { slugify } from "../ts/utils";

interface Props {
  sectionTitle: string;
  classes?: string;
}

const { sectionTitle, classes } = Astro.props as Props;
---

<section aria-label={slugify(sectionTitle)} class={classes}>
  <slot />
</section>
