---
// library imports
import { Image } from "@astrojs/image/components";
import Heading from "./Heading.astro";
---

<header class="py-16 md:py-24">
  <Image
    src="/images/welcome.jpg"
    width="515"
    height="430"
    alt="coffee and menu"
    class="md:float-left w-full md:w-auto md:pr-6 pb-6"
  />
  <div>
    <Heading headerTag="h1" headerStyles="h2"
      >Welcome to Retrograde Coffee.</Heading
    >
    <p class="py-6">
      Coffee is central to so much of what we do in life. It’s a conversation
      starter, a reason to meet, a moment of quiet reflection and a savory way
      to start our day. Retrograde is your neighborhood coffee stop for all of
      those moments. Yes we serve incredible house and regionally roasted
      coffees, but more than that, Retrograde is your excuse to pause, relax and
      enjoy a slower moment in time. Welcome to Retrograde Coffee.
    </p>
    <p>
      Can’t make it in? <a
        href="https://www.retrogradecoffee.com/shop"
        class="underline">Order our signature</a
      > coffee online and bring Retrograde home.
    </p>
  </div>
</header>
